@font-face {
  font-family: 'popicons';
  src:  url('fonts/popicons.eot?hkrugb');
  src:  url('fonts/popicons.eot?hkrugb#iefix') format('embedded-opentype'),
    url('fonts/popicons.ttf?hkrugb') format('truetype'),
    url('fonts/popicons.woff?hkrugb') format('woff'),
    url('fonts/popicons.svg?hkrugb#popicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pop-"], [class*=" pop-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'popicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pop-coat-of-arms:before {
  content: "\e904";
}
.pop-benin-culture:before {
  content: "\e900";
}
.pop-zuma-rock:before {
  content: "\eab4";
}
.pop-mmia:before {
  content: "\eab5";
}
.pop-keke:before {
  content: "\eb4b";
}
.pop-naira-note:before {
  content: "\eb4c";
}
.pop-danfo:before {
  content: "\eb3e";
}
.pop-lekki-ikoyi-bridge:before {
  content: "\eb3f";
}
.pop-cedi:before {
  content: "\ea16";
}
.pop-fela:before {
  content: "\ea17";
}
.pop-gh-map:before {
  content: "\ea18";
}
.pop-headies:before {
  content: "\ea19";
}
.pop-palm-tree:before {
  content: "\ea1a";
}
.pop-afr-map:before {
  content: "\e902";
}
.pop-apc:before {
  content: "\e903";
}
.pop-ere-meta:before {
  content: "\e920";
}
.pop-ewedu-broom:before {
  content: "\e921";
}
.pop-eyo:before {
  content: "\e923";
}
.pop-gala:before {
  content: "\e924";
}
.pop-garri-stick:before {
  content: "\e925";
}
.pop-morta-pestle:before {
  content: "\e927";
}
.pop-naira:before {
  content: "\e928";
}
.pop-ng-map:before {
  content: "\e929";
}
.pop-palm-wine:before {
  content: "\e974";
}
.pop-pdp:before {
  content: "\e98d";
}
.pop-popicons:before {
  content: "\e996";
}
.pop-spoon:before {
  content: "\e997";
}
.pop-surebet:before {
  content: "\e9a6";
}
.pop-talking-drum:before {
  content: "\e9bd";
}
.pop-home:before {
  content: "\e92a";
}
.pop-office:before {
  content: "\e92b";
}
.pop-newspaper:before {
  content: "\e92c";
}
.pop-pencil:before {
  content: "\e92d";
}
.pop-eyedropper:before {
  content: "\e92e";
}
.pop-droplet:before {
  content: "\e92f";
}
.pop-paint-format:before {
  content: "\e930";
}
.pop-images:before {
  content: "\e931";
}
.pop-camera:before {
  content: "\e932";
}
.pop-headphones:before {
  content: "\e933";
}
.pop-music:before {
  content: "\e934";
}
.pop-play:before {
  content: "\e935";
}
.pop-film:before {
  content: "\e936";
}
.pop-video-camera:before {
  content: "\e937";
}
.pop-bullhorn:before {
  content: "\e938";
}
.pop-connection:before {
  content: "\e939";
}
.pop-mic:before {
  content: "\e93a";
}
.pop-book:before {
  content: "\e93b";
}
.pop-books:before {
  content: "\e93c";
}
.pop-library:before {
  content: "\e93d";
}
.pop-file-text:before {
  content: "\e93e";
}
.pop-file-text2:before {
  content: "\e93f";
}
.pop-file-zip:before {
  content: "\e940";
}
.pop-stack:before {
  content: "\e941";
}
.pop-folder-open:before {
  content: "\e942";
}
.pop-price-tag:before {
  content: "\e943";
}
.pop-barcode:before {
  content: "\e944";
}
.pop-qrcode:before {
  content: "\e945";
}
.pop-ticket:before {
  content: "\e946";
}
.pop-cart:before {
  content: "\e947";
}
.pop-coin-dollar:before {
  content: "\e948";
}
.pop-coin-euro:before {
  content: "\e949";
}
.pop-coin-pound:before {
  content: "\e94a";
}
.pop-coin-yen:before {
  content: "\e94b";
}
.pop-credit-card:before {
  content: "\e94c";
}
.pop-phone:before {
  content: "\e94d";
}
.pop-address-book:before {
  content: "\e94e";
}
.pop-envelop:before {
  content: "\e94f";
}
.pop-pushpin:before {
  content: "\e950";
}
.pop-location:before {
  content: "\e951";
}
.pop-compass:before {
  content: "\e952";
}
.pop-map:before {
  content: "\e953";
}
.pop-history:before {
  content: "\e954";
}
.pop-clock:before {
  content: "\e955";
}
.pop-alarm:before {
  content: "\e956";
}
.pop-bell:before {
  content: "\e957";
}
.pop-stopwatch:before {
  content: "\e958";
}
.pop-calendar:before {
  content: "\e959";
}
.pop-printer:before {
  content: "\e95a";
}
.pop-keyboard:before {
  content: "\e95b";
}
.pop-display:before {
  content: "\e95c";
}
.pop-mobile:before {
  content: "\e95d";
}
.pop-mobile2:before {
  content: "\e95e";
}
.pop-tablet:before {
  content: "\e95f";
}
.pop-tv:before {
  content: "\e960";
}
.pop-drawer:before {
  content: "\e961";
}
.pop-download:before {
  content: "\e962";
}
.pop-upload:before {
  content: "\e963";
}
.pop-floppy-disk:before {
  content: "\e964";
}
.pop-drive:before {
  content: "\e965";
}
.pop-database:before {
  content: "\e966";
}
.pop-undo:before {
  content: "\e967";
}
.pop-redo:before {
  content: "\e968";
}
.pop-undo2:before {
  content: "\e969";
}
.pop-redo2:before {
  content: "\e96a";
}
.pop-forward:before {
  content: "\e96b";
}
.pop-reply:before {
  content: "\e96c";
}
.pop-bubble:before {
  content: "\e96d";
}
.pop-bubbles:before {
  content: "\e96e";
}
.pop-bubbles2:before {
  content: "\e96f";
}
.pop-user:before {
  content: "\e970";
}
.pop-users:before {
  content: "\e971";
}
.pop-user-plus:before {
  content: "\e972";
}
.pop-user-minus:before {
  content: "\e973";
}
.pop-user-tie:before {
  content: "\e975";
}
.pop-quotes-left:before {
  content: "\e976";
}
.pop-quotes-right:before {
  content: "\e977";
}
.pop-hour-glass:before {
  content: "\e978";
}
.pop-spinner:before {
  content: "\e979";
}
.pop-spinner2:before {
  content: "\e97a";
}
.pop-spinner3:before {
  content: "\e97b";
}
.pop-spinner4:before {
  content: "\e97c";
}
.pop-spinner5:before {
  content: "\e97d";
}
.pop-spinner6:before {
  content: "\e97e";
}
.pop-spinner7:before {
  content: "\e97f";
}
.pop-spinner8:before {
  content: "\e980";
}
.pop-spinner9:before {
  content: "\e981";
}
.pop-spinner10:before {
  content: "\e982";
}
.pop-spinner11:before {
  content: "\e983";
}
.pop-binoculars:before {
  content: "\e984";
}
.pop-search:before {
  content: "\e985";
}
.pop-enlarge:before {
  content: "\e901";
}
.pop-enlarge2:before {
  content: "\e986";
}
.pop-shrink2:before {
  content: "\e987";
}
.pop-key2:before {
  content: "\e988";
}
.pop-lock:before {
  content: "\e989";
}
.pop-unlocked:before {
  content: "\e98a";
}
.pop-wrench:before {
  content: "\e98b";
}
.pop-equalizer:before {
  content: "\e98c";
}
.pop-cog:before {
  content: "\e98e";
}
.pop-cogs:before {
  content: "\e98f";
}
.pop-hammer:before {
  content: "\e990";
}
.pop-magic-wand:before {
  content: "\e991";
}
.pop-aid-kit:before {
  content: "\e992";
}
.pop-bug:before {
  content: "\e993";
}
.pop-pie-chart:before {
  content: "\e994";
}
.pop-stats-dots:before {
  content: "\e995";
}
.pop-trophy:before {
  content: "\e998";
}
.pop-gift:before {
  content: "\e999";
}
.pop-glass:before {
  content: "\e99a";
}
.pop-glass2:before {
  content: "\e99b";
}
.pop-mug:before {
  content: "\e99c";
}
.pop-spoon-knife:before {
  content: "\e99d";
}
.pop-leaf:before {
  content: "\e99e";
}
.pop-rocket:before {
  content: "\e99f";
}
.pop-meter:before {
  content: "\e9a0";
}
.pop-hammer2:before {
  content: "\e9a1";
}
.pop-fire:before {
  content: "\e9a2";
}
.pop-lab:before {
  content: "\e9a3";
}
.pop-magnet:before {
  content: "\e9a4";
}
.pop-bin:before {
  content: "\e9a5";
}
.pop-briefcase:before {
  content: "\e9a7";
}
.pop-airplane:before {
  content: "\e9a8";
}
.pop-truck:before {
  content: "\e9a9";
}
.pop-road:before {
  content: "\e9aa";
}
.pop-power:before {
  content: "\e9ab";
}
.pop-switch:before {
  content: "\e9ac";
}
.pop-power-cord:before {
  content: "\e9ad";
}
.pop-clipboard:before {
  content: "\e9ae";
}
.pop-list:before {
  content: "\e9af";
}
.pop-tree:before {
  content: "\e9b0";
}
.pop-cloud:before {
  content: "\e9b1";
}
.pop-sphere:before {
  content: "\e9b2";
}
.pop-earth:before {
  content: "\e9b3";
}
.pop-link:before {
  content: "\e9b4";
}
.pop-flag:before {
  content: "\e9b5";
}
.pop-attachment:before {
  content: "\e9b6";
}
.pop-eye:before {
  content: "\e91e";
}
.pop-eye-plus:before {
  content: "\e9b7";
}
.pop-eye-minus:before {
  content: "\e9b8";
}
.pop-eye-blocked:before {
  content: "\e9b9";
}
.pop-bookmarks:before {
  content: "\e9ba";
}
.pop-sun:before {
  content: "\e9bb";
}
.pop-contrast:before {
  content: "\e9bc";
}
.pop-star-empty:before {
  content: "\e9be";
}
.pop-star-half:before {
  content: "\e9bf";
}
.pop-star-full:before {
  content: "\e9c0";
}
.pop-heart:before {
  content: "\e9c1";
}
.pop-heart-broken:before {
  content: "\e9c2";
}
.pop-man:before {
  content: "\e9c3";
}
.pop-woman:before {
  content: "\e9c4";
}
.pop-man-woman:before {
  content: "\e9c5";
}
.pop-happy:before {
  content: "\e9c6";
}
.pop-happy2:before {
  content: "\e9c7";
}
.pop-smile:before {
  content: "\e9c8";
}
.pop-smile2:before {
  content: "\e9c9";
}
.pop-tongue:before {
  content: "\e9ca";
}
.pop-tongue2:before {
  content: "\e9cb";
}
.pop-sad:before {
  content: "\e9cc";
}
.pop-sad2:before {
  content: "\e9cd";
}
.pop-wink:before {
  content: "\e9ce";
}
.pop-wink2:before {
  content: "\e9cf";
}
.pop-grin:before {
  content: "\e9d0";
}
.pop-grin2:before {
  content: "\e9d1";
}
.pop-cool:before {
  content: "\e9d2";
}
.pop-cool2:before {
  content: "\e9d3";
}
.pop-angry:before {
  content: "\e9d4";
}
.pop-angry2:before {
  content: "\e9d5";
}
.pop-evil:before {
  content: "\e9d6";
}
.pop-evil2:before {
  content: "\e9d7";
}
.pop-shocked:before {
  content: "\e9d8";
}
.pop-shocked2:before {
  content: "\e9d9";
}
.pop-baffled:before {
  content: "\e9da";
}
.pop-baffled2:before {
  content: "\e9db";
}
.pop-confused:before {
  content: "\e9dc";
}
.pop-confused2:before {
  content: "\e9dd";
}
.pop-neutral:before {
  content: "\e9de";
}
.pop-neutral2:before {
  content: "\e9df";
}
.pop-hipster:before {
  content: "\e9e0";
}
.pop-hipster2:before {
  content: "\e9e1";
}
.pop-wondering:before {
  content: "\e9e2";
}
.pop-wondering2:before {
  content: "\e9e3";
}
.pop-sleepy:before {
  content: "\e9e4";
}
.pop-sleepy2:before {
  content: "\e9e5";
}
.pop-frustrated:before {
  content: "\e9e6";
}
.pop-frustrated2:before {
  content: "\e9e7";
}
.pop-crying:before {
  content: "\e9e8";
}
.pop-crying2:before {
  content: "\e9e9";
}
.pop-point-up:before {
  content: "\e9ea";
}
.pop-point-right:before {
  content: "\e9eb";
}
.pop-point-down:before {
  content: "\e9ec";
}
.pop-point-left:before {
  content: "\e9ed";
}
.pop-warning:before {
  content: "\e9ee";
}
.pop-notification:before {
  content: "\e9ef";
}
.pop-question:before {
  content: "\e9f0";
}
.pop-plus:before {
  content: "\e9f1";
}
.pop-minus:before {
  content: "\e9f2";
}
.pop-blocked:before {
  content: "\e9f3";
}
.pop-cross:before {
  content: "\e9f4";
}
.pop-checkmark:before {
  content: "\e9f5";
}
.pop-enter:before {
  content: "\e9f7";
}
.pop-exit:before {
  content: "\e9f8";
}
.pop-play3:before {
  content: "\e9f9";
}
.pop-pause2:before {
  content: "\e9fa";
}
.pop-stop2:before {
  content: "\e9fb";
}
.pop-backward2:before {
  content: "\e9fc";
}
.pop-forward3:before {
  content: "\e9fd";
}
.pop-first:before {
  content: "\e9fe";
}
.pop-last:before {
  content: "\e9ff";
}
.pop-previous2:before {
  content: "\ea00";
}
.pop-next2:before {
  content: "\ea01";
}
.pop-eject:before {
  content: "\ea02";
}
.pop-volume-high:before {
  content: "\ea03";
}
.pop-volume-medium:before {
  content: "\ea04";
}
.pop-volume-low:before {
  content: "\ea05";
}
.pop-volume-mute:before {
  content: "\ea06";
}
.pop-volume-mute2:before {
  content: "\ea07";
}
.pop-volume-increase:before {
  content: "\ea08";
}
.pop-volume-decrease:before {
  content: "\ea09";
}
.pop-loop:before {
  content: "\ea0a";
}
.pop-loop2:before {
  content: "\ea0b";
}
.pop-infinite:before {
  content: "\ea0c";
}
.pop-shuffle:before {
  content: "\ea0d";
}
.pop-arrow-up-left:before {
  content: "\ea0e";
}
.pop-arrow-up:before {
  content: "\ea0f";
}
.pop-arrow-up-right:before {
  content: "\ea10";
}
.pop-arrow-right:before {
  content: "\ea11";
}
.pop-arrow-down-right:before {
  content: "\ea12";
}
.pop-arrow-down:before {
  content: "\ea13";
}
.pop-arrow-down-left:before {
  content: "\ea14";
}
.pop-arrow-left:before {
  content: "\ea15";
}
.pop-scissors:before {
  content: "\ea1e";
}
.pop-filter:before {
  content: "\ea1f";
}
.pop-table:before {
  content: "\ea20";
}
.pop-paragraph-left:before {
  content: "\ea21";
}
.pop-paragraph-center:before {
  content: "\ea22";
}
.pop-paragraph-right:before {
  content: "\ea23";
}
.pop-paragraph-justify:before {
  content: "\ea24";
}
.pop-indent-increase:before {
  content: "\ea25";
}
.pop-indent-decrease:before {
  content: "\ea26";
}
.pop-embed:before {
  content: "\ea27";
}
.pop-embed2:before {
  content: "\e906";
}
.pop-terminal:before {
  content: "\ea28";
}
.pop-share2:before {
  content: "\ea29";
}
.pop-mail2:before {
  content: "\ea2a";
}
.pop-mail3:before {
  content: "\ea2b";
}
.pop-mail4:before {
  content: "\ea2c";
}
.pop-amazon:before {
  content: "\ea2d";
}
.pop-google:before {
  content: "\ea2e";
}
.pop-google2:before {
  content: "\ea2f";
}
.pop-google3:before {
  content: "\ea30";
}
.pop-google-plus:before {
  content: "\ea31";
}
.pop-google-plus2:before {
  content: "\ea32";
}
.pop-google-plus3:before {
  content: "\ea33";
}
.pop-hangouts:before {
  content: "\ea34";
}
.pop-google-drive:before {
  content: "\ea35";
}
.pop-facebook:before {
  content: "\ea36";
}
.pop-facebook2:before {
  content: "\ea37";
}
.pop-instagram:before {
  content: "\ea38";
}
.pop-whatsapp:before {
  content: "\ea39";
}
.pop-spotify:before {
  content: "\ea3a";
}
.pop-telegram:before {
  content: "\ea3b";
}
.pop-twitter:before {
  content: "\ea3c";
}
.pop-vine:before {
  content: "\ea3d";
}
.pop-vk:before {
  content: "\ea3e";
}
.pop-renren:before {
  content: "\ea3f";
}
.pop-sina-weibo:before {
  content: "\ea40";
}
.pop-rss:before {
  content: "\ea41";
}
.pop-rss2:before {
  content: "\ea42";
}
.pop-youtube:before {
  content: "\ea43";
}
.pop-youtube2:before {
  content: "\ea44";
}
.pop-twitch:before {
  content: "\ea45";
}
.pop-vimeo:before {
  content: "\ea46";
}
.pop-vimeo2:before {
  content: "\ea47";
}
.pop-lanyrd:before {
  content: "\ea48";
}
.pop-flickr:before {
  content: "\ea49";
}
.pop-flickr2:before {
  content: "\ea4a";
}
.pop-flickr3:before {
  content: "\ea4b";
}
.pop-flickr4:before {
  content: "\ea4c";
}
.pop-dribbble:before {
  content: "\ea4d";
}
.pop-behance:before {
  content: "\e907";
}
.pop-behance2:before {
  content: "\e908";
}
.pop-deviantart:before {
  content: "\ea4e";
}
.pop-500px:before {
  content: "\ea4f";
}
.pop-dropbox:before {
  content: "\ea50";
}
.pop-onedrive:before {
  content: "\ea51";
}
.pop-github:before {
  content: "\ea52";
}
.pop-npm:before {
  content: "\ea53";
}
.pop-basecamp:before {
  content: "\ea54";
}
.pop-trello:before {
  content: "\ea55";
}
.pop-wordpress:before {
  content: "\ea56";
}
.pop-joomla:before {
  content: "\ea57";
}
.pop-ello:before {
  content: "\ea58";
}
.pop-blogger:before {
  content: "\e909";
}
.pop-blogger2:before {
  content: "\e90a";
}
.pop-tumblr:before {
  content: "\ea59";
}
.pop-tumblr2:before {
  content: "\ea5a";
}
.pop-yahoo:before {
  content: "\ea5b";
}
.pop-yahoo2:before {
  content: "\ea5c";
}
.pop-tux:before {
  content: "\ea5d";
}
.pop-appleinc:before {
  content: "\e90b";
}
.pop-finder:before {
  content: "\ea5e";
}
.pop-android:before {
  content: "\e90c";
}
.pop-windows:before {
  content: "\ea5f";
}
.pop-windows8:before {
  content: "\e90d";
}
.pop-soundcloud:before {
  content: "\ea60";
}
.pop-soundcloud2:before {
  content: "\ea61";
}
.pop-skype:before {
  content: "\e90e";
}
.pop-reddit:before {
  content: "\e90f";
}
.pop-hackernews:before {
  content: "\ea62";
}
.pop-wikipedia:before {
  content: "\ea63";
}
.pop-linkedin:before {
  content: "\e910";
}
.pop-linkedin2:before {
  content: "\e911";
}
.pop-lastfm:before {
  content: "\ea64";
}
.pop-lastfm2:before {
  content: "\ea65";
}
.pop-delicious:before {
  content: "\ea66";
}
.pop-stumbleupon:before {
  content: "\ea67";
}
.pop-stumbleupon2:before {
  content: "\ea68";
}
.pop-stackoverflow:before {
  content: "\ea69";
}
.pop-pinterest:before {
  content: "\e912";
}
.pop-pinterest2:before {
  content: "\e913";
}
.pop-xing:before {
  content: "\ea6a";
}
.pop-xing2:before {
  content: "\ea6b";
}
.pop-flattr:before {
  content: "\ea6c";
}
.pop-foursquare:before {
  content: "\ea6d";
}
.pop-yelp:before {
  content: "\ea6e";
}
.pop-paypal:before {
  content: "\ea6f";
}
.pop-chrome:before {
  content: "\ea70";
}
.pop-firefox:before {
  content: "\e914";
}
.pop-IE:before {
  content: "\ea71";
}
.pop-edge:before {
  content: "\e915";
}
.pop-safari:before {
  content: "\e916";
}
.pop-opera:before {
  content: "\ea72";
}
.pop-file-pdf:before {
  content: "\e917";
}
.pop-file-openoffice:before {
  content: "\ea73";
}
.pop-file-word:before {
  content: "\e918";
}
.pop-file-excel:before {
  content: "\e919";
}
.pop-libreoffice:before {
  content: "\e91a";
}
.pop-html-five:before {
  content: "\e91b";
}
.pop-html-five2:before {
  content: "\e91c";
}
.pop-css3:before {
  content: "\e91d";
}
.pop-git:before {
  content: "\ea74";
}
.pop-codepen:before {
  content: "\ea75";
}
.pop-svg:before {
  content: "\ea76";
}
.pop-IcoMoon:before {
  content: "\ea77";
}

